<h1>Stupid Coaching</h1>
<<h2>Get an answer</h2>
<h2><%= @question %></h2>
<p class='name tags'>-You</p>

<h2><%=@answer %></h2>
<p class='name tags'> - Your Coach</p>
<a><%= link_to "ask another question", "/ask" %></a>
<p>Find me in app/views/questions/answer.html.erb</p>
